pkgbase = ovsx
	pkgdesc = Command line interface for Eclipse Open VSX
	pkgver = 0.9.1
	pkgrel = 1
	url = https://open-vsx.org
	arch = any
	license = EPL2
	makedepends = npm
	depends = nodejs
	noextract = ovsx-0.9.1.tgz
	source = https://registry.npmjs.org/ovsx/-/ovsx-0.9.1.tgz
	sha256sums = 73431a141ce79ecb760f9e339dac9ede40915dc20dd07dcbf59b432b98102401

pkgname = ovsx
